*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    /*
    Medidas Absolutas
    cm, mm, in, px, pt, pc

    Medidas Relativas
    em, ex, rem, vw, vh
    */
}

h1,h2{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: 'work-Sans', sans-serif;
    font-weight: bolder;
    font-size: 3em;
    font-style: italic;
}

h2{
    
}